<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/layout.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>

<div id="header">
    <div id="header-left">
        <div id="header-right">
            <a href="{{ HOME_PATH }}"><img id="header-center" src="{{ ASSET_PATH }}/header-center.png"></a>
        </div>
    </div>
</div>

<div id="middle-outer">
    <div id="middle-inner">

        <div id="content-alignment-reference">
            <div id="content">
                {{ content }}
            </div>
        </div>

        <div id="navigation">
            {% include navigation.html %}
        </div>

    </div>
</div>

<footer>
    <p>Copyright © 2001-{{ site.time | date: "%Y" }} {{ site.author.name }}</p>
</footer>

{% include JB/analytics %}
</body>
</html>
